@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }

  .ProblemInputForm textarea {
    width: 600px
  }

  .CategoryInputForm textarea {
    width: 500px;
  }
}
